# Python
Backend/Backendven/
Backend/__pycache__/
__pycache__/
**/__pycache__/
*.pyc

# React
frontend/node_modules/
frontend/build/

# Environment files
**/.env

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db